/* ---------- fonts ---------- */
@import url('https://fonts.googleapis.com/css2?family=Amatic+SC&display=swap');

.amatic {
    font-family: "Amatic SC", sans-serif;
}

* {
    margin: 0 auto;
    idth: 100%;
}

/* ---------- body ---------- */
body {
    background-color: #dbcbbd;
    height: 100vh;
    display: flex;
}

/* ---------- container ---------- */
.container {
    margin: auto;
}

/* ---------- columns ---------- */
.column-padding {
    padding: 20px;
}

/* logo */
.logo {
    height: 250px;
    padding: 20px;
    background-color: #dbcbbd;
}

.logo h1 {
    text-align: center;
    font-size: 70px;
}

.logo img {
    height: 120px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

/* ---------- high score section ---------- */
.high-score {
    height: 310px;
    padding: 20px;
    background-color: #f7f4f3;
}

.moves-high-score p {
    font-size: 32px;
    line-height: 35px;
}

.icons {
    font-size: 32px;
    margin-bottom: 20px;
    display: inline-block;
    text-align:center;
    width: 100%;
}

.icons i {
    padding-left: 20px;
    padding-right: 20px;
}

.moves-high-score {
    margin-bottom: 20px;
}

.theme-buttons {
    display: inline-block;
    text-align:center;
    width: 100%;
}

.btn-light {
    background-color: #dbcbbd;
    font-size: 18px;
    letter-spacing: 2px;
    margin-right: 20px;
}

.btn-light:hover {
    background-color: #DBCBBD!important;
}
.btn-light:disabled,
btn-light[disabled] {
    background-color: #DBCBBD!important;
}

.btn-dark {
    background-color: #14110f;
    font-size: 18px;
    letter-spacing: 2px;
}

.btn-dark:hover {
    background-color: #14110f;
}

.btn-dark:disabled,
btn-dark[disabled] {
    background-color: #14110f!important;
}

/* ---------- modal ---------- */
.modal-title {
    font-size: 55px;
}

.close-button {
    font-size: 24px;
    letter-spacing: 2px;
    background-color: #14110f;
}

/* ---------- memory ---------- */

.game-section {
    position: relative;
}

.memory-card.flip {
    transform: rotateY(180deg);
}

/* ---------- start game overlay ---------- */
.start-game {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 560px;
    width: 565px;
    background-color: rgb(197, 254, 154, .8);
    z-index: 1;
}

.play-button {
    text-align: center;
    margin-top: 120px;
    
}

.play-button h2 {
    font-size: 70px;
}

.fa-play-circle {
    font-size: 150px;
}

/* ---------- memory game ---------- */
.memory-game {
    height: 560px;
    width: 565px;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
    background-color: #c5fe9a;
    perspective: 1000px;
}

.memory-card img {
    height: 120px;
    width: 120px;
}

.memory-card {
    width: 120px;
    height: 120px;
    margin: 10px;
    position: relative;
    transform: scale(1);
    transform-style: preserve-3d;
    transition: transform .3s;
}

.memory-card:active {
    transform: scale(.95);
    transition: transform .25s;
}

.card-front,
.card-back {
    width: 100%;
    height: 100%;
    position: absolute;
    backface-visibility: hidden;
}

.card-front {
    transform: rotateY(180deg);
}

/* ---------- game finished overlay ---------- */
.overlay-finish {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 560px;
    width: 565px;
    background-color: rgb(197, 254, 154, .8);
    z-index: 10;
    display: none;
}

.fa-trophy {
    font-size: 150px;
}

/* ---------- dark theme ---------- */

.memory-game.dark-mode {
    background-color: #0f6c2b;
}

body.dark-mode {
  background: #14110f;
}

.logo.dark-mode {
    background: #14110f;
}

.logo h1.dark-mode {
    color: #f7f4f3;
}

.high-score.dark-mode {
    background-color: #0f6c2b;
    color: #f7f4f3;
}

.start-game.dark-mode {
    background-color: rgb(15, 108, 43, .8);
    color: #f7f4f3;
}

.overlay-finish.dark-mode {
    background-color: rgb(15, 108, 43, .8);
    color: #f7f4f3;
}

/* ---------- media query ---------- */

@media (max-width: 1200px) {

    .row {
       display: flex; 
    }

    .logo {
        width: 250px;
        float: left;
    }

    .high-score {
        width: 320px;
        float: left;
    }
}

@media (max-width: 768px) {

    .logo {
        float: none;
        width: 565px;
    }

    .high-score {
        float: none;
        width: 565px;
    }
}