/* fonts */
@import url('https://fonts.googleapis.com/css2?family=Amatic+SC&display=swap');

.amatic {
    font-family: "Amatic SC", sans-serif;
}

/* body */
body {
    background-color: #dbcbbd;
    height: 100vh;
}

/* columns */
.column-padding {
    padding: 20px;
}

/* logo */
.logo {
    height: 250px;
    padding: 20px;
    background-color: #dbcbbd;
}

.logo h1 {
    text-align: center;
    font-size: 70px;
}

.logo img {
    height: 120px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

/* high score section */
.high-score {
    height: 300px;
    padding: 20px;
    background-color: #f7f4f3;
}

.moves-high-score p {
    font-size: 32px;
}

.icons {
    font-size: 32px;
    margin-bottom: 20px;
    display: inline-block;
    text-align:center;
    width: 100%;
}

.icons i {
    padding-left: 20px;
    padding-right: 20px;
}

.moves-high-score {
    margin-bottom: 20px;
}

.theme-buttons {
    display: inline-block;
    text-align:center;
    width: 100%;
}

.btn-light {
    background-color: #dbcbbd;
    font-size: 18px;
    letter-spacing: 2px;
    margin-right: 20px;
}

.btn-light:hover {
    background-color: #dbcbbd;
}

.btn-dark {
    background-color: #14110f;
    font-size: 18px;
    letter-spacing: 2px;
}

.btn-dark:hover {
    background-color: #14110f;
}

/* memory */
.memory-game {
    height: 550px;
    width: 550px;
    padding: 20px;
    background-color: #c5fe9a;
    display: flex;
    flex-wrap: wrap;
}

.memory-card img {
    width: 120px;
}